cache/js/*
config.php
messages.pot
messages.mo
lib/*.jar
build.number
lock/*.lock
emoticons/*.gif
emoticons/*.png
emoticons/map_local.php
manifest.mf
backend.jar
locale/xx_XX/LC_MESSAGES/borkify
bin/*
