local.css
local.js
cache/js/*
config.php
messages.pot
messages.mo
lib/*.jar
build.number
lock/*.lock
emoticons/*.gif
emoticons/*.png
emoticons/map_local.php
manifest.mf
backend.jar
locale/xx_XX/LC_MESSAGES/borkify
themes/xmas
server.sh
bin/*
/bin
